---
title: About
eleventyNavigation:
    key: About 
    order: 2
---
extends template

block content
    p(class="text-xl w-full md:w-1/4 p-2") ↝ !{space(4)} About
    p(class="text-xl w-full md:w-3/4 p-2") Jérôme Stephan is a programmer and artist based in and around Berlin, Germany. Working with game studios, musicians and other clients all over the world. Loving to stroll the fine line between programming and art, leaning into either side depending on the kind of project and keen on using every opportunity to learn more.
    p Further reading in my CV
    h1(class="text-8xl text-center z-10") 
        a(href="mailto:hello@jeromestephan.de") hello@jeromestephan.de