---
title: Home
eleventyNavigation:
    key: Home 
    order: 1
---
extends template

block content
    //title
    h1(class="text-8xl text-center z-10") Jérôme Stephan
    h2(class="text-4xl text-center text-orangered tracking-wide z-10") Technical Artist + 3D Artist + Programmer

    //flowfield
    div(class="px-2 md:max-3xl:px-[10vw] -mt-20 relative h-[65vh] -z-10")
        canvas(id="canvas")
        script(src="/js/ps_noises.js ")
        script(src="/js/vector_utils.js")
        script(src="/js/flowfield.js")
        
    //gallery
    div(class="relative pt-28 invisible") Divider
    h2(class="text-5xl px-2 max-md:hidden") SELECTED <br> !{space(11)} PROJECTS ︎︎︎
    h2(class="text-5xl px-2 md:hidden") SELECTED <br> PROJECTS ︎︎︎
    div(class="flex flex-wrap m-auto")
        -console.log("projects:")
        each project, key in projects
            - var proj_ref = `/sites/projects/${key}/index.html`
            - console.log(project.name)
            +pf_img({name:project.name, source:project.cover_img, width:project.width, aspect_ratio:project.aspect_ratio, is_video:project.is_cover_video, ref:proj_ref, description:project.subtitle+", "+project.year})
