---
title: Home
permalink: "= `${title}/`"
eleventyNavigation:
    key: Home 
    order: 1
---
extends /_layouts/template

block content
    //title; think about md:scale-x-110
    //-Divider
    //-div(class="relative pt-[25vh] invisible")
    div(class="px-def-2 md:px-def-8 inset-x-0 inset-y-0 absolute w-full max-w-screen-4xl h-[65vh] grid grid-cols-1 grid-rows-2 m-auto mt-[17vh]")
        //-font-extrabold
        h1(class="2xl:py-2 text-6xl leading-none md:text-[7rem] 2xl:text-[10rem] text-accent text-center self-end z-10 px-def-2") Jérôme Stephan
        h2(class="2xl:py-2 text-4xl 2xl:text-[3.3rem] text-center text-accent font-sans not-italic tracking-wider md:tracking-widest self-start z-10 px-def-2") Technical Artist + 3D Artist + Programmer

    //flowfield
    div(class="px-def-2 md:px-def-8 inset-x-0 inset-y-0 absolute w-full max-w-screen-4xl h-[65vh] m-auto mt-[17vh] -z-10")
        canvas(id="canvas")
        script(src="/js/ps_noises.js ")
        script(src="/js/vector_utils.js")
        script(src="/js/flowfield.js")
        
    //gallery
    //-Divider
    div(class="relative pt-[95vh] invisible")
    div(class="px-def-2")
        h1(class="max-md:hidden") SELECTED <br> !{space(11)} PROJECTS ︎︎︎
        h1(class="md:hidden") SELECTED <br> PROJECTS ︎︎︎
    div.flexcon
        - let sortedProjects = getSortedPortfolio();
        each block in sortedProjects
            if (block.type === "project")
                - const projectDetails = block.data;
                if (!projectDetails.hidden)
                    - const description = projectDetails.subtitle ? projectDetails.subtitle+", "+projectDetails.year : projectDetails.year;
                    +pf_img({name:projectDetails.name, source:projectDetails.cover_img, width:block.width, aspect_ratio:block.aspect_ratio, ref:block.ref, description:description})
            else if (block.type === "multi")
                +pf_div({width:block.width, paddings:block.paddings, classes:"content-between grid"})
                    each item in block.items
                        if (item.type === "project")
                            - const nestedDetails = item.data;
                            if (!nestedDetails.hidden)
                                - const nestedDescription = nestedDetails.subtitle ? nestedDetails.subtitle+", "+nestedDetails.year : nestedDetails.year;
                                +pf_img({name:nestedDetails.name, source:nestedDetails.cover_img, width:item.width, aspect_ratio:item.aspect_ratio, ref:item.ref, description:nestedDescription})
                        else if (item.type === "text")
                            +pf_text({text:item.text, type:item.text_type, ref:item.ref, width:item.width, text_classes:item.text_classes, padding:item.padding})
            else if (block.type === "text")
                +pf_text({text:block.text, type:block.text_type, ref:block.ref, width:block.width, text_classes:block.text_classes, padding:block.padding})
