---
pagination:
    data: projects 
    size: 1
    alias: project
permalink: "= `sites/projects/${project}/index.html`"
eleventyComputed: 
    title: "= `${projects[project].name}`"
---
extends template

block content
    - var cur_project = projects[project]
    - title = project
    //- console.log("Creating project "+cur_project.name)
    +divider(14)
    +pf_description({title: cur_project.name, description: cur_project.description, tools: cur_project.tools})
    +divider(14)
    div.container
        each media in cur_project.media
            +pf_img({name:media.title, source:media.src, width:media.width, aspect_ratio:media.aspect_ratio, description:media.subtitle, has_sound:media.has_sound})
    +divider(14)
    +back_button()
    +divider(14)