extends ../sites/template

block append head 
    link(rel='stylesheet', type='text/css', href='/css/prism-min.css')

block content 
    +pf_description({title: title, description: subtitle, tools: tags, date: date})

    block blog_post
        p there is nothing of interest here.

    +divider(14)
    +back_button()
    +divider(14)