-
    function space(num=1){
        let str = "";
        while (num > 0){
            str = str + "&nbsp;";
            num--;
        }
        return str;
    }

    var word_brk = "&#8203;"

mixin spacer(height)
    div(class="h-["+height+"]")
        p  

mixin back_button()
    h1(class="px-def-2")
        a(href="#" onclick="javascript:document.referrer.indexOf('"+ filters.domain() +"') >= 0 ? history.go(-1) : window.location.href = '/'; return false;") ← !{space(4)} Go Back

mixin divider(size, classes)
    if !classes
        - classes = ""
    div(class="relative pt-"+size+" "+classes+" invisible") Divider

mixin a_new_tab(ref)
    a(href=ref target="_blank" rel="noopener noreferrer")
        block

mixin grid_block()
    div(class="flex flex-wrap md:grid md:grid-cols-4 m-auto")
        block

mixin grid_element(grid_title, text_size="xl", divider_size=12)
    +divider(divider_size, "w-full md:col-span-4")
    p(class="text-"+text_size+" w-full md:col-span-1 py-def") 
        |↝ !{space(5)} !{grid_title}
    div(class="text-"+text_size+" w-full md:col-span-3 py-def")
        block