@tailwind base;
@tailwind components;
@tailwind utilities;

/*@font-face {
    font-family: 'Freizeit';
    src: url('/fonts/Freizeit-ExtraBold.woff2') format('woff2');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Freizeit';
    src: url('/fonts/Freizeit-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Freizeit';
    src: url('/fonts/Freizeit-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Freizeit';
    src: url('/fonts/Freizeit-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Freizeit';
    src: url('/fonts/Freizeit-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face{
    font-family: "Icons";
    src:url("/fonts/Icons.woff2");
    unicode-range:U+E000-E15C,U+F0000,U+FE0E
}*/

@font-face {
    font-family: 'Icons';
    src: url('/fonts/subset-IconFont-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    unicode-range:U+E000-E15C,U+F0000,U+FE0E;
    font-display: swap;
}

@font-face {
    font-family: 'Freizeit';
    src: url('/fonts/subset-Freizeit-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Freizeit';
    src: url('/fonts/subset-Freizeit-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@layer utilities {
    .rotated-nav {
        max-width: 100vh;
        will-change: transform;
        transform-origin: top right;
        transform: translate(-100%, 0%) rotate(-90deg);
    }

    .rotated-footer {
        max-width: 100vh;
        will-change: transform;
        transform-origin: bottom left;
        transform: translate(calc(100vw - var(--scrollbar-width)), 0%) rotate(-90deg);
    }

    a{
        @apply cursor-custom-clk;
        @apply hover:text-orangered;
    }
  }