@tailwind base;
@tailwind components;
@tailwind utilities;

/*@font-face {
    font-family: 'Freizeit';
    src: url('/fonts/Freizeit-ExtraBold.woff2') format('woff2');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Freizeit';
    src: url('/fonts/Freizeit-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Freizeit';
    src: url('/fonts/Freizeit-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Freizeit';
    src: url('/fonts/Freizeit-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Freizeit';
    src: url('/fonts/Freizeit-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face{
    font-family: "Icons";
    src:url("/fonts/Icons.woff2");
    unicode-range:U+E000-E15C,U+F0000,U+FE0E
}*/

/*←↝•@→©↩↑↓§№™*/
@font-face {
    font-family: 'Icons';
    src: url('/fonts/subset-IconFont-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    unicode-range:U+E000-E15C,U+F0000,U+FE0E;
    font-display: swap;
}

@font-face {
    font-family: 'Freizeit';
    src: url('/fonts/subset-Freizeit-ExtraBold.woff2') format('woff2');
    font-weight: bolder;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Freizeit';
    src: url('/fonts/subset-Freizeit-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Freizeit';
    src: url('/fonts/subset-Freizeit-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inferi';
    src: url('/fonts/subset-Inferi-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inferi';
    src: url('/fonts/subset-Inferi-NormalItalic.woff2') format('woff2');
    /* src: url('/fonts/subset-ThatThatNewPixel-ItalicSquare.woff2') format('woff2'); */
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Inferi';
    src: url('/fonts/subset-Inferi-LightItalic.woff2') format('woff2');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Inferi';
    src: url('/fonts/subset-Inferi-Normal.woff2') format('woff2');
    /* src: url('/fonts/subset-ThatThatNewPixel-Square.woff2') format('woff2'); */
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inferi';
    src: url('/fonts/subset-Inferi-SemiBoldItalic.woff2') format('woff2');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Inferi';
    src: url('/fonts/subset-PerfectlyNineties-Italic.woff2') format('woff2');
    font-weight: 800;
    font-style: italic;
    font-display: swap;
}


@layer base {
    html {
        @apply text-sm md:text-base 2xl:text-lg 3xl:text-xl 4xl:text-2-5xl 5xl:text-4xl;
    }
    h1, h2, h3, h4, h5, h6 {
        @apply font-serif;
        @apply italic;
        @apply font-normal;
        /* @apply font-sans; */
    }
    h1 {
        @apply text-5xl md:text-8xl;
    }
    h2 {
        @apply text-4xl md:text-6xl;
        @apply font-sans not-italic;
    }
    h3 {
        @apply text-3xl md:text-5xl;
        @apply font-sans not-italic;
    }
    h4 {
        @apply text-2xl md:text-4xl;
        @apply font-sans not-italic;
    }
    p, ul, ol {
        @apply text-justify;
    }
    :root {
        --bg:           #fff7ed;
        --bg-dark:      #000000;
        --accent:       orangered;
        --accent-sec:   #340B6B;
        --base-dark:    black;
        --base-bright:  white;
        -webkit-tap-highlight-color: transparent;
    }
}

    
.tooltip {
    @apply invisible absolute max-md:right-0 max-md:left-0;
}
.has-tooltip:hover .tooltip,
.has-tooltip:focus .tooltip {
    @apply visible z-50;
}

@layer components {
    .flexcon {
        @apply flex flex-wrap m-auto;
    }
    .note {
        @apply p-def-2 my-def-2 border-accent border-4;
    }
}

@layer utilities {
    .rotated-nav {
        max-width: 100vh;
        will-change: transform;
        transform-origin: top right;
        transform: translate(-100%, 0%) rotate(-90deg);
    }

    .rotated-footer {
        max-width: 100vh;
        will-change: transform;
        transform-origin: bottom left;
        transform: translate(calc(100vw - var(--scrollbar-width)), 0%) rotate(-90deg);
    }

    a{
        @apply cursor-custom-clk;
        @apply hover:text-accent;
    }
  }