---
title: Fixing a broken hard drive
subtitle: For my first time getting hands-on with electronics, I've decided on quite the challenge.
date: 2023-12-15
cover_img: /images/blog_posts/hard_drive/cover_img_alt.png
tags:
    - Electronics
---
extends /_layouts/blog_post

block blog_post
    div.note
        h2 Disclaimer: I'm a noob
        p 
            |This is the first time I am working with electronics, so please be a little more lenient with me. This is more of a documentation of my process, rather than a tutorial; if there are any mistakes, please feel free to message me to let me know so I can learn more!
    h1.py-def-2 Dead or Alive
    p 
        |Well, I admit I've been a naughty boy these past 10 years. And nobody has ever caught me! What's my crime? I never made backups, and finally that came to bite me in the ass.
        <br>
        |My trusty 2TB HDD, which has been my 3D scene file storage since 2014, has bitten the dust. Rest in peace brother, you've done a good job. I'm lucky in the way it happened though, since it just wouldn't give any sign of life: neither in my PC, nor in the external hard drive case; but how is that a good sign at all? If a hard drive makes noises it shouldn't make, those are coming from the mechanical insides, which are about 100% impossible to fix without a lot of time, dedication, and a cleanroom in your vicinity. As that wasn't the case for me, I deducted it was probably the electronics at fault.
    h1.py-def-2 WD Red Dead Redemption
    p After months of letting it sit in my Box of Useful Stuff™ for the last few months without really knowing what to do, I decided to take it to the makerspace of my uni. At this point I want to give a huge shoutout to Tobias, the electronics expert of the makerspace, who was a great teacher in everything we did.
    +grid_block 
        +grid_element("Finding out what's wrong", "lg", 0)
            p As it was probably the electronics that were broken, we took off the circuit board from the hard drive to examine it. Using a multimeter, we firstly connected the black cable to ground (GND), i.e. the common reference potential for all voltages on the circuit. With SATA, for example, there are the voltages +12V, +5V and +3.3V, which all refer to ground/GND. On the board, we could see that the top layer, i.e. the top copper layer, has been flooded with ground at the through-holes for the screws so that the hard disk housing is also at the same potential as the common reference voltage of the board due to the connection with the screw head. Therefore, we could be reasonably sure that we could connect the black cable there as the negative terminal. We then used the red cable of the multimeter to measure the voltage upstream of the burnt-out resistors directly at the plug (there was a voltage there) and then downstream - the voltage here was 0. To make sure that it was really due to the resistors, we then switched the multimeter from voltage measurement to continuity test and tested whether the resistors had continuity. They did not, so the circuit was open and no current was flowing. These resistors, we concluded, are probably there as an extra step of power surge protection: it seems they did their job! However, this damage doesn't come from nowhere, so switching the multimeter to the diode setting, we found out that a transient-voltage-suppression diode was broken, again probably from a power surge.
        +grid_element("Fixing what's wrong", "lg", 0)
            p Looking at the handy-dandy diagram I drew below, you can (hopefully) see that we put a little solder on each connection of the broken diode to ease the seperation using a soldering iron. After taking off the diode, there were still the broken resistors, which we bridged using some solder and a little wire; as the resistors are running in parallel and this is just a dirty fix to get the drive running long enough to save the data, we just ran the wire between both.
            +pf_img({name:"Handy dandy diagram", source:"/images/blog_posts/hard_drive/solderdiagram.png", width:"full", aspect_ratio:"auto", blog:true})

    p
        <br>
        |Putting the drive back together and plugging it in, we were greeted with the sound of a working hard drive! It was alive! We quickly copied the data over to a new drive, and I was able to save all my files. I'm very happy that I was able to save my data, and I'm very grateful to Tobias for helping me out with this. I've learned a ton about getting hands-on with electronics in this first venture, and I'm excited to learn more in the future!
        <br> <br>
        |I hope you enjoyed this little journey of mine, and maybe even learned something new. Have fun and keep on doing what you love!
        <br>
        |Cheers,
        <br>
        |Jérôme